.basic {
    margin-right: 50px;
    margin-left: 50px;
}

#graph{
    margin-right: 50px;
    margin-top: 20px;
}

#boxy{
    margin-top: 100px;
}

.boxyy{
    margin-top: 20px;
    margin-bottom: 20px;
}